/* NAVBAR */
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 10;
}

.logo a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu li a:hover {
    border-bottom: 2px solid #fff;
}

.nav.down {
    background: #ff4e58;
    position: fixed;
    padding: 2px 25px;
}

.menu-btn {
    display: none;
}


/* HEADER */
header {
    width: 100wh;
    height: 100vh;
    background-image: url('../img/banner.JPG');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-cont {
    margin-bottom: 150px;
    color: #fff;
    text-align: center;
}

.header-cont h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #ff4e58;
    margin: 10px auto;
    border-radius: 5px;
}

.header-cont h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 10px 20px;
    text-decoration: none;
    background: #ff4e58;
    border-radius: 30px;
    color: #fff;
}


.arrow {
    border: solid #ff4e58;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 1;

}

.arrow:nth-child(2) {
    animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
    animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
    100%{
        opacity: 0;
        margin-top: 25px;
    }
}

@keyframes arrow2 {
    100%{
        opacity: 0;
        margin-top: 50px;
    }
}
